<h1>Hi {{vm.user.username}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/interface-account" class="btn btn-primary">Interface Account</a></p>
<p>&nbsp;</p>
<p><a href="#!/interface-sales-record" class="btn btn-primary">Interface Sales Record</a></p>
<p>&nbsp;</p>
<p><a href="#!/interface-simplenet-node" class="btn btn-primary">InterfaceSimpleNetTreeNode</a></p>
<p>&nbsp;</p>
<p><a href="#!/interface-opvnet-node" class="btn btn-primary">InterfaceOPVNetTreeNode</a></p>
<p>&nbsp;</p>
<p><a href="#!/interface-fivestarnet-node" class="btn btn-primary">InterfaceFiveStarNetTreeNode</a></p>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>