<h1>Hi {{vm.user.username}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>


<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<select name="" id="year"></select>
<select name="" id="month"></select>
<input type="text" id="date" disabled="disabled">
<button id="sureBtn">确定</button>
<script>
    $(function(){
        let yearVal = "2015"
        let monthVal = "01"
        let dateVal = "201501"
        var year = ["2015","2016","2017","2018","2019","2020","2021","2022","2023","2024"]
        var month = ["1","2","3","4","5","6","7","8","9","10","11","12"]
        for(let i = 0; i <year.length; i++){
            let option = `<option value=${year[i]}>${year[i]}</option>`
            $("#year").append(option)
        }
        for(let i = 0; i <month.length; i++){
            let option = `<option value=${month[i]}>${month[i]}</option>`
            $("#month").append(option)
        }
        $("#year").change(function(){
            yearVal = $(this).val()
            dateVal = yearVal + monthVal
            $("#date").val(dateVal)
        })
        $("#month").change(function(){
            monthVal = $(this).val() < 10 ? "0" + $(this).val() : $(this).val()
            dateVal = yearVal + monthVal
            $("#date").val(dateVal)
        })
        $("#sureBtn").click(function(){
            $.cookie('the_cookie', '', { expires: -1 }); // 删除 cookie
            $.cookie('date_cookie', dateVal);//存到cookie中
            alert($.cookie('date_cookie'));
        })
        $("#date").val($.cookie('date_cookie'));
    })
</script>


<p>&nbsp;</p>
<p><a href="#!/interface-account" class="btn btn-primary">会员信息</a></p>

<p><a href="#!/interface-sales-record" class="btn btn-primary">销售记录</a></p>

<p><a href="#!/interface-simplenet-node" class="btn btn-primary">原始网络图</a></p>

<p><a href="#!/interface-activenet-node" class="btn btn-primary">活跃网络图</a></p>

<p><a href="#!/interface-opvnet-node" class="btn btn-primary">OPV网络图</a></p>

<p><a href="#!/interface-gpvnet-node" class="btn btn-primary">GPV网络图</a></p>

<p><a href="#!/interface-fivestarnet-node" class="btn btn-primary">五星网络图</a></p>

<p><a href="#!/interface-passupgpvnet-node" class="btn btn-primary">PassUpGPVNetTree</a></p>

<p><a href="#!/interface-qualifiedfivestarnet-node" class="btn btn-primary">合格五星网络图</a></p>

<p><a href="#!/interface-golddiamondnet-node" class="btn btn-primary">GoldDiamondNetTree</a></p>

<p><a href="#!/interface-doublegolddiamondnet-node" class="btn btn-primary">DoubleGoldDiamondNetTree</a></p>

<p><a href="#!/interface-customernet-node" class="btn btn-primary">顾客级差</a></p>

<p><a href="#!/interface-distributorbonus-node" class="btn btn-primary">直销员奖</a></p>

<p><a href="#!/interface-distributordifferential-node" class="btn btn-primary">直销员级差</a></p>

<p><a href="#!/interface-rubybonus-node" class="btn btn-primary">领导奖</a></p>

<p><a href="#!/interface-goldendiamondopv-bonus" class="btn btn-primary">金钻平级奖</a></p>

<p><a href="#!/login" class="btn btn-primary">Logout</a></p>